@model List<UserCommentDisplayModel>

@if (Model.Any())
{
    <h2>Comments</h2>
    <table class="table">
        <thead>
            <tr>
                <th>From</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td>@comment.GiverUserName</td>
                    <td>@comment.Date.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@comment.Notice</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-center text-muted">No comments received yet.</p>
}
