@model IEnumerable<Appli_EcoPartage.Data.Annonces>

@{
    ViewData["Title"] = "All Annonces";
}

<h1>All Annonces</h1>

<!-- formulaire pour afficher les annonces -->
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Points</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var annonce in Model)
        {
            <tr>
                <td>@annonce.Titre</td>
                <td>@annonce.Description</td>
                <td>@annonce.Points</td>
                <!-- boutton pour changer les points d'une annonce' -->
                <td>
                    <a asp-action="EditServicePoints" asp-route-id="@annonce.IdAnnonce" class="btn btn-primary">Edit Points</a>
                </td>
            </tr>
        }
    </tbody>
</table>
