@model IEnumerable<Appli_EcoPartage.Data.Annonces>

@{
    ViewData["Title"] = "Index";
}

<h1>Create your annonce</h1>

@if (TempData["TransactionError"] != null)
{
    <div class="alert alert-danger">
        @TempData["TransactionError"]
    </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
